<header class="bg-black text-white shadow-md">
  <nav class="container mx-auto px-6 py-4 flex items-center space-x-4">
    <!-- Ícono -->
    <div
      class="p-2 bg-gradient-to-br from-purple-500/20 to-pink-500/20 rounded-full backdrop-blur-sm border border-purple-500/30">
      <svg class="w-10 h-10 text-purple-400" fill="none" stroke="currentColor" viewBox="0 0 24 24">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
          d="M9 19V6l12-3v13M9 19c0 1.105-1.343 2-3 2s-3-.895-3-2 1.343-2 3-2 3 .895 3 2zm12-3c0 1.105-1.343 2-3 2s-3-.895-3-2 1.343-2 3-2 3 .895 3 2zM9 10l12-3">
        </path>
      </svg>
    </div>

    <!-- Texto -->
    <h1 class="text-2xl font-bold">BEAT BOGOTÁ</h1>
    <lucide-icon name="home" [routerLink]="'/events'"></lucide-icon>
    <!-- Enlaces admin -->
<!--     <nav class="flex space-x-4 ml-8">
      <a routerLink="/admin/events" routerLinkActive="text-purple-400" class="hover:text-purple-300 transition-colors">Eventos</a>
      <a routerLink="/admin/promotores" routerLinkActive="text-purple-400" class="hover:text-purple-300 transition-colors">Promotores</a>
      <a routerLink="/admin/descuentos" routerLinkActive="text-purple-400" class="hover:text-purple-300 transition-colors">Descuentos</a>
      <a routerLink="/admin/etapas-boleta" routerLinkActive="text-purple-400" class="hover:text-purple-300 transition-colors">Etapas</a>
    </nav> -->
  </nav>
</header>
